*{
    margin: 0;
    box-sizing: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body{
    background: linear-gradient(#e66465, #9198e5) no-repeat;
    height: 100vh;
    display: grid;
    align-items: center;
    justify-items: center;

}

.menu{
    background-color:#d9bdff ;
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    box-shadow: black 5px 8px 20px;
    width: 36vw;
    height: 40vh;
    display: grid;
    justify-self: center;
    text-align: center;
}


.buttons_menu{
      display: flex;
      justify-content:space-evenly;
      align-content: space-between;
}

.button_a{

background-color:green;
color: white;
font-size: large;
margin: auto;
}


.button_b{
    background-color:red;
    color: white;
    font-size: large;
    margin: auto;
    }
      
.button_c{
    background-color:orange;
    color: white;
    font-size: large;
    margin: auto;
    }


    .btn_a:active {
        background-color: gray;
        box-shadow: 0 5px #666;
      }


      .btn_b:active {
        background-color: gray;
        box-shadow: 0 5px #666;
      }


      .btn_c:active {
        background-color: gray;
        box-shadow: 0 5px #666;

      }





    @media screen and (max-width: 1390px ){
        .menu{
            height: 70vh;
            width: 60vw;
        }
        .button_menu{
            height: auto;
            flex-direction: column;
            justify-self: center;   
        }
      h1{
        font-size: 4vh;
       }
       h2{
        font-size: 3vh;
       }
    
    }